@import "tailwindcss";

@font-face {
  font-family: 'Matrix';
  src: url('/assets/fonts/Matrix-II-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'Matrix', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background: #000936;
}

@theme {
  --text-h1: 30px;
  --text-h2: 24px;
  --text-h3: 20px;
  --text-tag: 12px;
  --text-desc: 12px;
  --color-darkColor: #121212;
  --color-typeTag: #0A84FF;
  --color-attributeTag: #B8860B;
  --color-attackTag: #8B0000;
  --color-defenseTag: #003366;
  --color-levelTag: #C04000;
  --color-raceTag: #228B22;
}

/* Footer: Social Media Icons */
.socials-icons:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.3);
}

.socials-icons:focus {
  border-bottom: 2px solid white;
  transform: scale(.9);
}