@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background: #000936;
}

@theme {
  --color-bg1: #000936;
}

/* Footer: Social Media Icons */
.socials-icons:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.3);
}

.socials-icons:focus {
  border-bottom: 2px solid white;
  transform: scale(.9);
}